**Carga de datos**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/CAvideos_cc50_202101.csv")

In [3]:
print('Dimensiones del dataset:', df.shape)
df.head()

Dimensiones del dataset: (40881, 20)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,state,lat,lon,geometry
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...,Manitoba,50.150025,-96.883322,POINT (-96.88332178 50.15002545)
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,British Columbia,49.099960,-116.516697,POINT (-116.516697 49.09996035)
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...,New Brunswick,45.267042,-66.076675,POINT (-66.07667505000001 45.26704185)
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Saskatchewan,50.933311,-102.799989,POINT (-102.7999891 50.93331097)
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...,Alberta,53.016698,-112.816639,POINT (-112.8166386 53.01669802)

**InspecciÃ³n de datos**

In [4]:

print("Nombres de columnas:")
print(df.columns.tolist())

Nombres de columnas:
['video_id', 'trending_date', 'title', 'channel_title', 'category_id', 'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count', 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed', 'description', 'state', 'lat', 'lon', 'geometry']

In [5]:
print("Tipos de datos:")
print(df.dtypes)

Tipos de datos:
video_id                   object
trending_date              object
title                      object
channel_title              object
category_id                 int64
publish_time               object
tags                       object
views                       int64
likes                       int64
dislikes                    int64
comment_count               int64
thumbnail_link             object
comments_disabled            bool
ratings_disabled             bool
video_error_or_removed       bool
description                object
state                      object
lat                       float64
lon                       float64
geometry                   object
dtype: object

In [6]:
print("Tabla de frecuencia - Category ID")
print(df['category_id'].value_counts())

Tabla de frecuencia - Category ID
category_id
24    13451
25     4159
22     4105
23     3773
10     3731
17     2787
1      2060
26     2007
20     1344
28     1155
27      991
19      392
15      369
2       353
43      124
29       74
30        6
Name: count, dtype: int64

In [7]:
print("Tabla de frecuencia - State")
print(df['state'].value_counts())

Tabla de frecuencia - State
state
Quebec                       3247
Alberta                      3209
British Columbia             3196
Yukon                        3159
Ontario                      3156
Prince Edward Island         3141
Northwest Territories        3140
Newfoundland And Labrador    3136
New Brunswick                3131
Nunavut                      3123
Manitoba                     3123
Nova Scotia                  3113
Saskatchewan                 3007
Name: count, dtype: int64

In [8]:
print("Tabla de frecuencia - Comments Disabled")
print(df['comments_disabled'].value_counts())

Tabla de frecuencia - Comments Disabled
comments_disabled
False    40298
True       583
Name: count, dtype: int64

In [9]:
print("Tabla de frecuencia - Ratings Disabled")
print(df['ratings_disabled'].value_counts())

Tabla de frecuencia - Ratings Disabled
ratings_disabled
False    40602
True       279
Name: count, dtype: int64

In [10]:
print("Tabla de frecuencia - Video Error or Removed")
print(df['video_error_or_removed'].value_counts())

Tabla de frecuencia - Video Error or Removed
video_error_or_removed
False    40854
True        27
Name: count, dtype: int64

**Calidad de los datos**

In [18]:
duplicate_counts = df['video_id'].value_counts()
print("NÃºmero total de videos repetidos: ", sum(duplicate_counts[duplicate_counts > 1] - 1))
print("\nLos 5 videos mÃ¡s duplicados y sus conteos:")
print(duplicate_counts[duplicate_counts > 1].head())

NÃºmero total de videos repetidos:  16454

Los 5 videos mÃ¡s duplicados y sus conteos:
video_id
l_lblj8Cq0o    8
VYOjWnS4cMY    8
6ZfuNTqbHE8    8
UceaB4D0jpo    8
MGYJuETPQEg    7
Name: count, dtype: int64

In [12]:
video_repetido = duplicados.index[0]
df[df['video_id'] == video_repetido][['trending_date', 'views', 'likes', 'comment_count']]

     trending_date     views   likes  comment_count
7196      17.20.12   1836462  134874          11820
7396      17.21.12   5051587  255347          21809
7597      17.22.12   7729028  325585          26578
7802      17.23.12  11542143  394642          30024
8011      17.24.12  15191078  444887          32226
8227      17.25.12  18832489  486548          33645
8474      17.26.12  21993346  520228          35134
8780      17.27.12  25184395  553602          36309

In [20]:
df.isnull().sum()

video_id                     0
trending_date                0
title                        0
channel_title                0
category_id                  0
publish_time                 0
tags                         0
views                        0
likes                        0
dislikes                     0
comment_count                0
thumbnail_link               0
comments_disabled            0
ratings_disabled             0
video_error_or_removed       0
description               1296
state                        0
lat                          0
lon                          0
geometry                     0
dtype: int64